.App {
  text-align: center;
}

h1{
  color: rgb(11, 109, 238);
}
button{
  background-color: rgb(43, 226, 119);

  color: white;

  font-weight: bolder;

  padding: 10px;
  outline: none;

  border-style:none;
  border-bottom: 5px solid rgb(21, 163, 80);
  border-radius: 5px;

  cursor: pointer;
  transition: 0.2s ease all;
}
button:hover{
  box-shadow: 0px 10px 13px -7px #000000  ;
}
input{
  margin-top: 10px;
  padding: 5px;
  outline: none;
}